.file-drop {
    width: 100%;
    height: 100%;
    padding: 20px;
    margin: 0 auto;
}

.file-drop__dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 50vh;
    color: $color-blue;
    background: $color-grey-1;
    border: 1px dashed $color-blue;
    box-sizing: border-box;
    font-size: 18px;
    border-radius: 6px;
    @include transition((background, border-color), $transition-durationS, $transition-easing-linear);

    &:focus {
        outline: none;
    }

    &.file-drop.is-active &,
    &:hover {
        background: rgba($color-blue, .2);
        cursor: pointer;
    }
}

.file-drop__label {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include transition((opacity, visibility), $transition-durationS, $transition-easing-linear);
}

.file-drop__label-text {
    display: flex;
    justify-content: space-between;

    & + & {
        margin-top: 4px;
    }
}

.file-drop__remove {
    cursor: pointer;
    background: none;
    padding: 0;
    border: 0;
    outline: none;
    margin-left: 12px;
}
