@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.text {
    > * + * {
        margin-top: 1em;
    }

    > .text__margin {
        margin-top: 1em;
    }

    > .text__margin-none {
        margin-top: 0;
    }

    > .text__margin-double {
        margin-top: 2em;
    }

    > .text__margin-half {
        margin-top: .5em;
    }
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-light {
    color: $color-secondary;
}

h1,
.h1 {
    @include title('h1');
}

h2,
.h2 {
    @include title('h2');
}

h3,
.h3 {
    @include title('h3');
}

h4,
.h4 {
    @include title('h4');
}

i,
em,
.italic {
    font-style: italic;
}

b,
strong,
.bold {
    font-weight: 700;
}

a,
.link {
    cursor: pointer;
    color: $color-brand-purple;
}

li {
    .text ol &,
    .text ul & {
        position: relative;
        padding-left: $grid-gutter;

        & + li {
            margin-top: $grid-gutter-xs / 2;

            @include bp(sm-min) {
                margin-top: $grid-gutter / 2;
            }
        }
    }

    .text ul &:before {
        position: absolute;
        top: 4px;
        left: 0;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: $color-brand-purple;
        content: '';
    }

    .text ol & {
        counter-increment: list-counter;

        &:before {
            position: absolute;
            left: 0;
            color: $color-brand-purple;
            font-weight: $font-weight-bold;
            content: counter(list-counter) '.';
        }
    }
}

ol {
    .text & {
        counter-reset: list-counter;
    }
}
