.gradient__field {
    max-width: 80%;
}

.gradient__col {
    flex: 1 1 calc((100% - 68px) / 3);
    max-width: calc((100% - 68px) / 3);
    width: 100%;
}

.gradient__col--buttons {
    flex: 0 0 68px;
    max-width: 68px;
}

.gradient__button {
    & + & {
        margin-left: 16px;
    }
}

.gradient__icon {
    &.icon {
        fill: $color-white;
    }
}

.gradient__icon--black {
    &.icon {
        fill: $color-black;
    }
}
