.progress {
    .progress__stepper {
        padding-right: 0;
        padding-left: 0;
    }

    .progress__step {
        text-align: center;
    }
}

.progress__actions {
    display: flex;
    justify-content: flex-end;
    background: $color-grey-1;
    padding: 20px;
}

.progress__action-button {
    & + & {
        margin-left: $grid-gutter;
    }
}

.progress__action-button--back {
    display: none;

    .button__icon {
        @include transition(transform, $transition-durationS, $transition-easing-linear);
    }

    &:hover .button__icon--left {
        transform: translate(-6px, 0);
    }
}

.progress__action-button--next {
    .button__icon {
        @include transition(transform, $transition-durationS, $transition-easing-linear);
    }

    &:hover .button__icon--right {
        transform: translate(6px, 0);
    }
}
