.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 15px 22px;
    min-width: 160px;
    background: $color-brand-purple;
    border-radius: 160px;
    border: none;
    box-sizing: border-box;
    color: $color-white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-appearance: none;
    @include transition(background, $transition-durationS, $transition-easing-linear);

    &:focus {
        outline: none;
    }

    &:hover {
        background: $color-brand-dark-purple;
        text-decoration: none;
    }
}

.button--icon-left,
.button--icon-right {
    padding-left: 48px;
    padding-right: 48px;
}

.button--style-ghost {
    background: $color-brand-light-grey;
    color: $color-brand-grey;

    &:hover {
        background: $color-brand-dark-grey;
    }
}

.button__inner {
    position: relative;
}

.button__icon {
    font-size: 24px;
}

.button__icon--right {
    margin-right: -36px;
    margin-left: 12px;
}

.button__icon--left {
    margin-right: 12px;
    margin-left: -36px;
}
