.header {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    padding: 10px 0;
    background: $color-white;
    border-bottom: 1px solid $color-brand-light-grey;
}

.header__logo {
    flex: 1 1 100%;
    width: 100%;
    max-width: 50%;
    height: 40px;
}

.header__top {
    flex: 0 0 100%;
    min-height: 180px;
    background: rgba($color-blue, .8);
    padding: 16px;

    @include bp(md-min) {
        min-height: auto;
        padding: 0;
    }
}

.header__bottom {
    flex: 0 0 100%;
    height: 100%;
    padding: 16px;

    @include bp(md-min) {
        flex: 1 0 auto;
        height: auto;
        padding: 0;
    }
}

.header__mobile {
    display: flex;
    flex: 1 1 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-end;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    max-width: 80%;
    background: $color-grey-1;
    transform: translateX(110%);
    @include transition(transform, $transition-durationS, $transition-easing-linear);

    @include bp(md-min) {
        flex: 1 1 auto;
        flex-wrap: nowrap;
        align-items: center;
        position: relative;
        background: transparent;
        transform: translateX(0);
    }

    .header.is-open & {
        transform: translateX(0);
    }
}

.header__button-close {
    position: absolute;
    top: 16px;
    right: 16px;
    color: $color-white;

    @include bp(md-min) {
        display: none;
    }
}

.header__button-close,
.header__button-open {
    width: 44px;
    height: 44px;
    padding: 0;
    color: $color-black;
    background: transparent;
    font-size: 24px;
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;
}

.header__toggle-container {
    display: flex;
    flex: 1 1 100%;
    max-width: 50%;
    justify-content: flex-end;

    @include bp(md-min) {
        display: none;
    }
}
