.radio {
    position: relative;
}

.radio__input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.radio__label {
    display: block;
    padding-left: 36px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;

    .radio__input:disabled ~ & {
        opacity: .5;
    }
}

.radio__text {
    color: $color-brand-grey;
    font-weight: $font-weight-regular;
}

.radio__indicator {
    display: block;
    border: 2px solid rgba($color-brand-grey, .5);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    @include transition(border-color, $transition-durationS, $transition-easing, $transition-durationS * .5);

    &:before {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        background: $color-brand-purple;
        border-radius: 50%;
        position: absolute;
        top: 5px;
        left: 5px;
        transform: scale(0);
        @include transition(transform, $transition-durationS, $transition-easing);
    }

    &:after {
        display: block;
        width: 42px;
        height: 42px;
        background: rgba($color-brand-purple, .08);
        border-radius: 50%;
        position: absolute;
        top: -11px;
        left: -11px;
        transform: scale(0);
        content: '';
        @include transition(transform, $transition-durationS, $transition-easing);
    }

    .radio__input:not(:checked) ~ .radio__label:hover & {
        &:after {
            transform: scale(1);
        }
    }

    .radio__input:checked ~ .radio__label & {
        border-color: $color-brand-purple;

        &:before {
            transform: scale(1);
        }
    }
}
