.cookie-notice {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    padding: 20px 0;
    background: $color-brand-purple;
    color: $color-white;
    animation: cookieNoticeMoveIn .5s $transition-easing 0s 1 forwards;

    &.is-animating-out {
        opacity: 1;
        transform: translateY(0);
        animation: cookieNoticeMoveOut .5s $transition-easing 0s 1 forwards;
    }

    @include bp(sm-min) {
        padding: 24px 0;
    }
}

@keyframes cookieNoticeMoveIn {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes cookieNoticeMoveOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}
