.login {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 240px;
}

.login__logo {
    width: 160px;
    margin: 0 auto 40px;
    text-align: center;
}
