.solvent {
    padding-top: $grid-gutter;
    padding-bottom: $grid-gutter;
}

.solvent__field {
    width: 100%;
}

.solvent__title {
    display: inline-flex;
    align-items: center;
    height: 60px;
}
