.choice-group__label {
    margin-bottom: 8px;

    .choice-group--hidden-label & {
        @include visually-hidden-label();
    }
}

.choice-group__item {
    & + & {
        margin-top: 10px;
    }
}

.choice-group__error {
    margin-top: 8px;
    color: $color-error;
}

.choice-group__description {
    margin-top: 8px;
}
