.load-template {
    padding-top: $grid-gutter;
    padding-bottom: $grid-gutter;
}

.load-template__list {
    margin-top: 2em;
}

.load-template__item-header {
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.load-template__item-heading {
    flex-basis: 50%;
}

.load-template__item-action {
    justify-content: space-between;
}
