@mixin bp($point) {
    @if $point == xs-min {
        @media only screen and (min-width: #{$bp-xs-min}) {
            @content;
        }
    }
    @elseif $point == sm-min {
        @media only screen and (min-width: #{$bp-sm-min}) {
            @content;
        }
    }
    @elseif $point == md-min {
        @media only screen and (min-width: #{$bp-md-min}) {
            @content;
        }
    }
    @elseif $point == lg-min {
        @media only screen and (min-width: #{$bp-lg-min}) {
            @content;
        }
    }
    @elseif $point == lg-max {
        @media only screen and (max-width: #{$bp-lg-max}) {
            @content;
        }
    }
    @elseif $point == xl-min {
        @media only screen and (min-width: #{$bp-xl-min}) {
            @content;
        }
    }
}

@mixin clearfix {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin aspect-ratio($width, $height, $element) {
    position: relative;

    &:before {
        display: block;
        content: '';
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }

    > .#{$element} {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }
}

@mixin transition($type, $speed: $transition-duration, $ease: $transition-easing, $delay: 0ms) {
    transition-property: $type;
    transition-duration: #{$speed};
    transition-timing-function: #{$ease};
    transition-delay: #{$delay};
}

@mixin visually-hidden-label() {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

@mixin body($size: 'normal', $weight: 'regular') {
    @if $size == 'normal' {
        font-size: $font-size-body-xs;
        line-height: $line-height-body-xs;

        @include bp(sm-min) {
            font-size: $font-size-body-sm;
            line-height: $line-height-body-sm;
        }
    }
    @elseif $size == 'tiny' {
        font-size: $font-size-tiny-xs;
        line-height: $line-height-tiny-xs;

        @include bp(sm-min) {
            font-size: $font-size-tiny-sm;
            line-height: $line-height-tiny-sm;
        }
    }
    @elseif $size == 'large' {
        font-size: $font-size-large-xs;
        line-height: $line-height-large-xs;

        @include bp(sm-min) {
            font-size: $font-size-large-sm;
            line-height: $line-height-large-sm;
        }
    }
    @elseif $size == 'minuscule' {
        font-size: $font-size-minuscule-xs;
        line-height: $line-height-minuscule-xs;

        @include bp(sm-min) {
            font-size: $font-size-minuscule-sm;
            line-height: $line-height-minuscule-sm;
        }
    }

    @if $weight == 'regular' {
        font-weight: $font-weight-regular;
    }
    @elseif $weight == 'medium' {
        font-weight: $font-weight-medium;
    }
    @elseif $weight == 'bold' {
        font-weight: $font-weight-bold;
    }
}

@mixin title($element: 'h1') {
    font-weight: $font-weight-bold;

    @if $element == 'h1' {
        font-size: $font-size-h1-xs;
        line-height: $line-height-h1-xs;

        @include bp(sm-min) {
            font-size: $font-size-h1-sm;
            line-height: $line-height-h1-sm;
        }
    }
    @elseif $element == 'h2' {
        font-size: $font-size-h2-xs;
        line-height: $line-height-h2-xs;

        @include bp(sm-min) {
            font-size: $font-size-h2-sm;
            line-height: $line-height-h2-sm;
        }
    }
    @elseif $element == 'h3' {
        font-size: $font-size-h3-xs;
        line-height: $line-height-h3-xs;

        @include bp(sm-min) {
            font-size: $font-size-h3-sm;
            line-height: $line-height-h3-sm;
        }
    }
    @elseif $element == 'title' {
        font-size: $font-size-title-xs;
        line-height: $line-height-title-xs;

        @include bp(sm-min) {
            font-size: $font-size-title-sm;
            line-height: $line-height-title-sm;
        }
    }
}
