/* GRID */

$grid-columns: 12;

$grid-gutter-xs: 20px;
$grid-gutter: 28px;

/* COMPONENT WIDTHS */

$container-width: 1200px;

/* BREAKPOINTS */

$bp-xs-min: 480px;
$bp-sm-min: 768px;
$bp-md-min: 1024px;
$bp-lg-min: 1170px;
$bp-lg-max: 1440px;
$bp-xl-min: 2400px;
$bp-xxl-min: 2880px;

/* TYPOGRAPHY */

$font-family-base: 'Poppins', arial, sans-serif;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$font-size-title-xs: 24px;
$line-height-title-xs: 28px;

$font-size-title-sm: 48px;
$line-height-title-sm: 56px;

$font-size-h1-xs: 20px;
$line-height-h1-xs: 24px;

$font-size-h1-sm: 32px;
$line-height-h1-sm: 38px;

$font-size-h2-xs: 20px;
$line-height-h2-xs: 24px;

$font-size-h2-sm: 24px;
$line-height-h2-sm: 28px;

$font-size-h3-xs: 16px;
$line-height-h3-xs: 24px;

$font-size-h3-sm: 20px;
$line-height-h3-sm: 20px;

$font-size-body-xs: 16px;
$line-height-body-xs: 24px;

$font-size-body-sm: 16px;
$line-height-body-sm: 24px;

$font-size-tiny-xs: 14px;
$line-height-tiny-xs: 16px;

$font-size-tiny-sm: 14px;
$line-height-tiny-sm: 16px;

$font-size-minuscule-xs: 12px;
$line-height-minuscule-xs: 14px;

$font-size-minuscule-sm: 12px;
$line-height-minuscule-sm: 14px;

/* TRANSITIONS */

$transition-duration: 300ms;
$transition-durationS: 100ms;
$transition-durationM: 400ms;
$transition-durationL: 600ms;
$transition-easing: cubic-bezier(.86, 0, .07, 1); //easeInOutQuint
$transition-easing-linear: linear;

/* COLORS */

$color-success: #58e4a0;

$color-active: #32dc8f;
$color-error: #fb818e;
$color-warning: #e2b704;

$color-black: #000000;
$color-blue: #4285f4;
$color-red: #d32f2f;
$color-white: #ffffff;
$color-grey-1: #fafafa;

$color-material-blue: #1976d2;

$color-primary: rgba($color-black, .87);
$color-secondary: rgba($color-black, .54);
$color-disabled: rgba($color-black, .38);

$color-brand-purple: #603dff;
$color-brand-dark-purple: #3a20ad;
$color-brand-blue: #1121aa;
$color-brand-orange: #e6541d;
$color-brand-grey: #333333;
$color-brand-light-grey: #dbdbdb;
$color-brand-dark-grey: #c7c5c5;
