.navigation__list {
    display: flex;
    flex-wrap: wrap;
}

.navigation__item {
    width: 100%;
    padding: 14px 56px;
    @include body('tiny', 'medium');

    @include bp(md-min) {
        width: auto;
        padding: 0;

        & + & {
            margin-left: $grid-gutter / 2;
        }
    }

    &.is-disabled {
        display: none;
        cursor: not-allowed;
    }
}

.navigation__link {
    padding: 15px 22px;
    font-size: 14px;
    border-radius: 200px;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    color: $color-brand-grey;
    background: transparent;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    z-index: 2;
    @include transition(color, $transition-durationS, $transition-easing);

    &:after {
        position: absolute;
        z-index: -1;
        bottom: -7px;
        left: 0;
        right: 0;
        height: 2px;
        transform: scaleX(0);
        transform-origin: left;
        background: $color-brand-purple;
        content: '';
        @include transition(transform, $transition-durationS, $transition-easing);
    }

    .navigation__item.is-current > & {
        color: $color-brand-purple;

        &:hover {
            &:after {
                transform: translate(0, -50%) scaleX(1);
            }
        }
    }

    &:hover {
        color: $color-brand-purple;
        text-decoration: none;

        &:after {
            background: $color-brand-purple;
            transform: translate(0, -50%) scaleX(1);
        }
    }

    .navigation__item--disabled & {
        pointer-events: none;
        opacity: .2;
    }
}
